<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    		<arg name="paused" value="true"/>
    </include>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ur5v1)/config/config.yaml" command="load"/>

    <param name="robot_description" command="cat $(find ur5v1)/urdf/ur5_original.urdf" />

    <node name="ur5" pkg="gazebo_ros" type="spawn_model" respawn= "false" output="screen"
        args="-urdf -model ur5 -param robot_description -z 0.0  -J shoulder_lift_joint -1.5 -J elbow_joint 1.0"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen"  args=" 
    joint_state_controller shoulder_sweep_position_controller
    shoulder_lift_position_controller elbow_position_controller
    wrist_pitch_position_controller wrist_roll_position_controller 
    wrist_yaw_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/ur5/joint_states" />
  </node>
</launch>